* {
  box-sizing: 'border-box';
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  -webkit-font-smoothing: 'antialiased';
  -moz-osx-font-smoothing: 'grayscale';
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root {
  min-height: 100%;
  min-width: 100%;
}
